[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
httpx = "*"
anyio = "*"
lxml = "*"
pydantic = "*"
aiofiles = "*"
types-beautifulsoup4 = "*"
types-aiofiles = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
